<form>
  <div>
    <label>Username</label>
    {{input value=username}}
  </div>
  <div>
    <label>Password</label>
    {{input value=password type="password"}}
  </div>
  <button {{action 'register'}}>Register</button> <br>
  {{#link-to 'login'}}
    Already have an account? Please sign in!
  {{/link-to}}

  <p>{{message}}</p>
</form>